<div fxLayoutAlign="center">
  <mat-card class="card-insercao">
    <div class="div-form-inserir">
      <mat-card-header>
        <mat-card-title *ngIf="pedido.id == 0">Inserir Pedido</mat-card-title>
        <mat-card-title *ngIf="pedido.id != 0">Editar Pedido</mat-card-title>
      </mat-card-header>

      <div class="div-form-inserir-formulario">
        <mat-card-content align="center">
          <mat-form-field appearance="fill">
            <mat-label *ngIf="pedido.id == 0">Mesa</mat-label>
            <mat-label *ngIf="pedido.id != 0">{{pedido.mesa.id}}</mat-label>
            <mat-select [(ngModel)]="pedido.mesa" (selectionChange)="usuarioSelecionado($event)">
              <mat-option *ngFor="let mesa of mesas" (placeholder)="pedido.mesa" [value]="mesa" required>Mesa {{mesa.id}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label *ngIf="pedido.id == 0">Usuário</mat-label>
            <mat-label *ngIf="pedido.id != 0">{{pedido.usuario.nome}}</mat-label>
            <mat-select [(ngModel)]="pedido.usuario">
              <mat-option *ngFor="let usuario of mesaSelecionada.usuarios" [value]="usuario" required>{{usuario.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Itens</mat-label>
            <mat-select [(ngModel)]="pedido.itensCardapio" (selectionChange)="valorSelecionado($event)">
              <mat-option *ngFor="let item of itensCardapio" [value]="item" required>{{item.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="inserirNaLista()">
            Adicionar Item
          </button>

        </mat-card-content>

      </div>
    </div>

    <div class="div-form-listar">
      <mat-card-header>
        <mat-card-title>Itens</mat-card-title>
      </mat-card-header>

      <mat-table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="mostrarColunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: mostrarColunas;"></mat-row>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Nº Produto</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.id}} - {{item.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco">
          <mat-header-cell *matHeaderCellDef>Preço (unid.)</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.preco}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <mat-header-cell *matHeaderCellDef>Quantidade)</mat-header-cell>
          <mat-cell *matCellDef="let item">1</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-icon-button>
              <mat-icon (click)="apagarDaLista(item.id)">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

      </mat-table>
    </div>
    <br>

    <mat-card-footer align="center">
      <button *ngIf="pedido.id == 0" mat-raised-button color="primary" (click)="inserir(pedido)">
        Criar Pedido
      </button>
      <button *ngIf="pedido.id != 0" mat-raised-button color="primary" (click)="inserir(pedido)">
        Salvar
      </button>
    </mat-card-footer>

  </mat-card>
</div>


