.footer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #512DA8;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-texto {

}
