.menu-background {
  background-color: #512DA8;
  height: 60px;
}

.menu-background button {
  margin: 10px 10px 10px 10px;
  background-color: #512DA8;
  color: #FFFFFF
}

.menu-background button:hover {

  color: #FFC107
}
